<template name="addNewCity">
  <div class="well">
    <h1>New City</h1>
    {{# autoForm id="AddCityForm"
    collection=Cities
    template="bootstrap3-horizontal"
    label-class="col-sm-2"
    input-col-class="col-sm-10"

    type="method"
    meteormethod="cities.insert"
    resetOnSuccess=true}}
      <div class="geo-details">
        {{> afQuickField name="displayName"}}
        {{> afQuickField name="state"}}
        {{> afQuickField name="location"}}
      </div>
      {{> afQuickField name="description"}}
      {{> afQuickField name="guidePreview"}}
      {{> afQuickField name="isFeatured"}}
      {{> afQuickField name="isDefault"}}
      {{> afQuickField name="isPromoted"}}
      {{> afQuickField name="printPreview"}}
      {{> afQuickField name="printCopy"}}
      {{> afQuickField name="printDownloadLink"}}
      {{> afQuickField name="showDownloadLink"}}
      {{> afQuickField name="printPurchaseLink"}}
      {{> afQuickField name="showPurchaseLink"}}
      {{> afQuickField name="showPrintGuide"}}

      <button type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}
  </div>
</template>

<template name="updateCity">
  <div class="well">
    {{# autoForm id="UpdateCityForm"
    collection=Cities
    template="bootstrap3-horizontal"
    label-class="col-sm-2"
    input-col-class="col-sm-10"

    type="method-update"
    meteormethod="cities.update"
    doc=city
    buttonContent="Update"}}
      <div class="geo-details">
        {{> afQuickField name="displayName"}}
        {{> afQuickField name="state"}}
        {{> afQuickField name="location"}}
      </div>
      {{> afQuickField name="description"}}
      {{> afQuickField name="guidePreview"}}
      {{> afQuickField name="isFeatured"}}
      {{> afQuickField name="isDefault"}}
      {{> afQuickField name="isPromoted"}}
      {{> afQuickField name="printPreview"}}
      {{> afQuickField name="printCopy"}}
      {{> afQuickField name="showDownloadLink"}}
      {{> afQuickField name="printDownloadLink"}}
      {{> afQuickField name="showPurchaseLink"}}
      {{> afQuickField name="printPurchaseLink"}}
      {{> afQuickField name="showPrintGuide"}}
      <button type="submit" class="btn btn-primary">Submit</button>
    {{/autoForm}}
  </div>
</template>
