.artist-map-container {
  height: 700px;
  margin-bottom: 2px;
  .artist-map-row {
    height: inherit;
    border-top: $blackish solid 1px;
    .map-table-col {
      height: inherit;
      overflow-y: auto;
    }
    .fix-map {
      position: fixed;
      top: 130px;
      width: 100%;
      margin-right: 10%;
      // right: 80px;
    }

  }
}

.artist-map {
  height: 700px;
  // height: inherit;
  // width: 470px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  .map {
    height: inherit;
  }
}

.map-table {
  overflow-y: auto;
  td {
    text-align: left;
    .map-table-title {
      font-size: 1.5em;
      font-weight: 700;
    }
    .map-table-body {
      margin: 1em 1.5em;
    }
  }
}
