.artist-jumbo {
  background-color: #fff;
  padding: 24px 0;
  .img-center {
    position: absolute;
    top: 50%;
    height: 234px;
  }
}
.artist-guide {
  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 56px;
  }
  .header-body {
    font-family: $open-sans;
    font-weight: 300;
    font-size: 16px !important;
    p{
      font-size: 16px;
    }
  }
}
