.artist-jumbo {
  background-color: #fff;
  padding: 24px 0;
  float: left;
  .img-center {
    // position: absolute;
    // top: 50%;
    height: 234px;
  }
}
.artist-guide {
  float: left;
  margin: 0 40px;
  @media(max-width: 415px) {
    margin: 0 15px;
  }
  .header-img {
    padding: 2% 0;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 56px;
    @media(max-width: 511px) {
      font-size: 26px;
    }
  }
  .header-body {
    font-family: $open-sans;
    font-weight: 300;
    font-size: 16px !important;
    p{
      font-size: 16px;
    }
  }
}
