.artist-row, .city-row {
  margin: 40px 15px;
  img {
    width: 100%;
  }
  .main {
    padding-left: 45px;
  }
  .content-header {
    margin-top: 0;
    font-family: $sans-light;
  }
  .artist-copy, .city-copy {
    font-family: $sans-light;
  }
}

.artist-comments {
  padding: 5px;
  margin-top: 16px;
  background-color: $callout-grey;
  .artist-comments-header {

  }
  .artist-comments-body {
    font-family: $sans-light;
  }
}
