.city-guides {
  height: 700px;
  .city-guides-row {
    height: inherit;
    @extend %clearfix;
    border-top: $blackish solid 1px;
    .artist-tiles {
      height: 700px;
      @extend %clearfix;
    }
    .city-map-column {
      height: inherit;
      // width: 470px;
      margin-right: 0 !important;
      padding-right: 0 !important;
      .map {
        height: inherit;
      }
    }
    .fix-map {
      position: fixed;
      top: 130px;
      width: 100%;
      margin-right: 10%;
      // right: 80px;
    }

  }
}

.masonry-guides {
  @extend %clearfix;
}

.gutter-sizer {
  width: 4%;
}
.grid-sizer,
.grid-item {
  width: 48%;
}

.grid-item {
  position: relative;
  // height: 120px;
  float: left;
  background: #D26;
  margin: 1%;
  @extend %clearfix;
  img {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}

.grid-description {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: $pink;
  width: 100%;
  line-height: 50px;
  text-align: center;
}
.grid-item--width2 { width: 98%; }
