.city-guides {
  height: 700px;
  .city-guides-row {
    height: inherit;
    @extend %clearfix;
    border-top: $blackish solid 1px;
    .artist-tiles {
      height: 700px;
      @media(max-width: 768px) {
        height: auto;
      }
      @extend %clearfix;
    }
    .city-map-column {
      height: inherit;
      // width: 470px;
      margin-right: 0 !important;
      padding-right: 0 !important;
      .map {
        height: inherit;
      }
    }
  }
}

.masonry-guides {
  @extend %clearfix;
}

.gutter-sizer {
  width: 4%;
}
.grid-sizer,
.grid-item {
  width: 48%;
}

.grid-item {
  position: relative;
  float: left;
  margin: 1%;
  @extend %clearfix;
  img {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}

.grid-description {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: $pink;
  width: 100%;
  line-height: 15px;
  text-align: center;
  font-size: .75em;
  padding: 10px 0 0;
}

.grid-item--width2 { width: 98%; }
