#wrapper {
  height: 100%;
  // overflow-y: hidden;
}

.dashboard {
  .fa {
    display: inline;
  }
  .sidebar {
    background-color: $main-background;
    color: $whitish;
    .nav {
      padding-left: 0;
      li{
        position: relative;
        display: block;
        a {
          padding: 10px 20px 5px;
          &:hover, &:focus, .active {
            background-color: $table-grey !important;
            color: $main-background;
          }
        }
        a.active {
         background-color: $table-grey !important;
         color: $main-background;
         ;
       }
      }
    }
    .nav-sidebar {
    margin-right: -15px;
    margin-bottom: 20px;
    margin-left: -20px;
    }
  }
  .main {
  }
  .item-stats{
    .collection-info {
      .collection-info-box {
        margin: 20px;
        background-color: $light-accent;
        border: $dark-accent 5px solid;
        border-bottom: none;
      }
      .collection-info-header {
        padding-left: 10px;
        font-size: 1.25em;
      }
      .collection-info-details {
        padding-left: 10px;
        font-size: 4em;
        line-height: .75em;
        span {
          font-size: .25em;
        }
      }
      .collection-info-link {
        padding-left: 10px;
        background-color: $dark-accent;
        color: $whitish;
        a {
          color: $whitish;
        }
      }
    }
  }
  :after {
  	content: ".";
  	display: block;
  	height: 0;
  	clear: both;
  	visibility: hidden
  }
}

.event-item--2cols > .event-item-cell {
  width: 50%;
}
.event-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;

  .event-item-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;  // Default to full width
    padding: 0.8em 1.2em;
    overflow: hidden; // Or flex might break
    list-style: none;
    border: solid 1px white;
    background: fade(slategrey,20%);
    > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
  }
}

ul.pagination {
  li {
    float: left;
  }
}

.uploadThumbnailContainer {
  float: right;
  margin: 0 25% 0 0;
}
