.event-image-container {
  .event-image {
    position: relative;
    img {
      width: 100%;
    }
  }
  .event-title {
    font-size: 2em;
    font-weight: bold;
    color: $white;
    position: absolute;
    top: 25%;
    margin: 15px;
    text-align: center;
    @media(max-width: 767px) {
      font-size: 1.5em;
    }
  }
}
.event-page-title {
  h1 {
    margin-left: 15px;
  }
}

.event-header {
  text-transform: capitalize;
}

.event-row {
  margin-bottom: 15px;
}
