.explore-bar {
  width: 100%;
  @extend %clearfix;
  @media (min-width: 768px) {
    position: fixed;
    top: 95px;
    z-index: 700;
    background-color: $white;
  }
  .dropdown {
    background: none !important;
    margin-left: 30px;
    display: inline;
    .dropdown-toggle {
      background: none !important;
      border: 1px solid transparent;
      width: 24%;
      text-align: left;
      &:hover {
        background: none;
      }
    }
    .dropdown-menu {
      margin: 10px;
      padding: 10px;
      li {
        @extend %clearfix;
        a {
          &:hover {
            background: none !important;
          }
        }
      }
    }
  }
  .open{
    .dropdown-toggle.btn-default{
      &:hover, &:focus {
        border: 1px solid transparent !important;
      }
    }
  }

  .form-group {
    margin-bottom: 0;
    display: inline-block;
    @media (min-width: 768px) {
      width: 25%;
    }
    @media (max-width: 767px) {
      width: 33%;
    }
    .explore-select {
      float: left;
      border: none;
    }
  }
  .select2-container {
    width: 100% !important;
    padding: 0;
  }
  .select2-selection--single {
    border: none;
  }
}
