.explore-bar {
  margin: 0 10px;
  text-transform: uppercase;
  input {
    border: none;
  }
  .explore-select {
    display: inline-block;
    width: 25%;
    height: 21px;
    border-style: none;
  }
}
