@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700,800');

$sans-serif: "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Cambria, Times New Roman, Times, serif;
$sans-light: "Open Sans";
$open-sans: #sans-light;
