footer {
  clear: both;
  width: 100%;
  .footLinks {
    text-transform: uppercase;
    color: $whitish;
    font-family: $sans-serif;
    padding: 25px 0;
    @media(max-width: 767px) {
      font-size: .65em;
    }
  }
  .text-center {
    text-align: center;
  }
}
