.fileUploadButton {
  height: 60px;
  width: 100%;
  input {
    opacity: 1;
  }
}

#citySelectID {
  div {
    div{
      line-height: 30px !important;
    }
  }
}

.Select-menu-outer {
  background-color: $white !important;
}
