.featured-city {
  width: 100%;
  @media(max-width: 767px) {
    margin: 0 !important;
  }
  .featured-map-col {
    @media(min-width: 768px) {
      height: 400px;
    }
    @media (max-width: 767px) {
      height: 150px;
      padding: 0 !important;
    }
    .featured-map {
      @media(min-width: 768px) {
        height: 400px;
      }
      @media (max-width: 767px) {
        height: 150px;
      }
    }
  }
  .featured-table-col {
    height: 400px;
    overflow: auto;
    padding-left: 18px;
    @media (max-width: 767px) {
      padding: 0 !important;
    }
  }
}

.city-wrapper {
  width: 100%;
  .city-map-col {
    height: 600px;
    .city-map {
      height: 600px;
    }
  }
  .city-table-col {
    height: 600px;
    overflow: auto;
  }
}
