.featured-city {
  padding: 0 40px;
  @media(max-width: 768px) {
    margin: 0 !important;
    padding: 0;

  }
  .featured-map-col {
    @media(min-width: 769px) {
      height: 400px;
      padding-left: 0 !important;
    }
    @media (max-width: 768px) {
      height: 200px;
      padding: 0 !important;
      box-shadow: -25px 10px 25px rgba($blackish,.9);
    }
    .featured-map {
      @media(min-width: 769px) {
        height: 400px;
      }
      @media (max-width: 768px) {
        height: 200px;
      }
    }
  }
  .featured-table-col {
    height: 400px;
    overflow: auto;
    padding-left: 18px;
    @extend %clearfix;
    @media (max-width: 768px) {
      padding: 0 !important;
      height: auto;
      overflow: visible;
    }
  }
}

.city-wrapper {
  width: 100%;
  .city-map-col {
    @media(min-width: 769px) {
      height: 400px;
      padding-left: 0 !important;
    }
    @media (max-width: 768px) {
      height: 200px;
      padding: 0 !important;
    }
    .city-map {
      @media(min-width: 769px) {
        height: 400px;
      }
      @media (max-width: 768px) {
        height: 200px;
      }
    }
  }
  .city-table-col {
    height: 400px;
    overflow: auto;
    padding-left: 10px;
    @media (max-width: 768px) {
      padding: 0 !important;
      height: auto;
      overflow: visible;
    }
  }
}
