#react-root {
  height: 100%;
  margin-bottom: 60px;
  // overflow-y: scroll;
  // padding-bottom: 60px;
}
.fullheight {
    height: 100%;
}

#main {
  position: relative;
  .hero-image {
    object-fit: cover;
    width: 100%;
  }

  .hero-text {
    position: absolute;
    top: 15%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: $white;
    .hero-title {
      font-size: 72px;
      font-weight: 900;
      text-transform: uppercase;
    }
    .hero-copy {
      font-size: 24px;
    }
  }

  .select-bar {
    font-size: 36px;
    text-align: center;
    margin: 25px auto;
  }
}

.bottom-border {
  padding-bottom: 2px;
  border-bottom: 1px $blackish solid ;
  border-width: 0.5px;
}
