#react-root {
  height: 100%;
  margin-bottom: 60px;
  // overflow-y: scroll;
  // padding-bottom: 60px;
}
.fullheight {
    height: 100%;
}

#main {
  position: relative;
  @extend %clearfix;
  .hero-image {
    object-fit: cover;
    width: 100%;
  }

  .hero-text {
    position: absolute;
    top: 25%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: $white;
    .hero-title {
      @media (min-width: 768px) {
        font-size: 72px;
      }
      @media (max-width: 767px) and (min-width: 500px) {
        font-size: 32px;
      }
      @media (max-width: 499px) {
        font-size: 18px;
      }
      font-weight: 900;
      text-transform: uppercase;
    }
    .hero-copy {
      @media (min-width: 768px) {
        font-size: 24px;
      }
      @media (max-width: 767px) and (min-width: 500px) {
        font-size: 19px;
      }
      @media (max-width: 499px) {
        font-size: 12px;
      }
    }
  }

  .select-bar {
    font-size: 36px;
    text-align: center;
    margin: 25px auto;
  }
}

.bottom-border {
  padding-bottom: 2px;
  border-bottom: 1px $table-grey solid ;
  border-width: 0.5px;
}
