#react-root {
  height: 100%;
  margin-bottom: 60px;
  @media(max-width: 768px) {
    overflow-x: hidden;
  }
  // padding-bottom: 60px;
}
.fullheight {
    height: 100%;
}

#main {
  position: relative;
  @extend %clearfix;
  .hero-image {
    object-fit: cover;
    width: 100%;
  }

  .hero-text {
    position: absolute;
    top: 25%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: $white;
    .hero-title {
      @media (min-width: 769px) {
        font-size: 72px;
      }
      @media (max-width: 768px) and (min-width: 500px) {
        font-size: 32px;
      }
      @media (max-width: 499px) {
        font-size: 18px;
      }
      font-weight: 900;
      text-transform: uppercase;
    }
    .hero-copy {
      @media (min-width: 769px) {
        font-size: 24px;
      }
      @media (max-width: 768px) and (min-width: 500px) {
        font-size: 19px;
      }
      @media (max-width: 499px) {
        font-size: 12px;
      }
    }
  }

  .select-bar {
    font-size: 36px;
    text-align: center;
    margin: 25px auto;
  }
}

.home-map-container {
  height: 500px;
  @media(min-width: 769px) {
    overflow: auto;
  }
  @media(max-width: 768px) {
    overflow: hidden;
  }
  .featured-city-copy {
    text-align: center;
    font-size: 1.5em;
    padding: 25px;
    line-height: 31px;
    border-bottom: $blackish solid 1px;
  }
}

.bottom-border {
  padding-bottom: 2px;
  border-bottom: 1px $table-grey solid ;
  border-width: 0.5px;
}

.get-clear {
  clear: both;
  width: 100%;
}

a {
  color: $link-grey;
  &:focus, &:hover {
    color: $white;
  }
}
