.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  .table-container {
    float: left;
    width: 38%;
    overflow: auto;
    height: 500px;
  }
  .front-map-description {
    font-size: .75em;
  }
  .map-layout {
    float: left;
    width: 62%;
    height: 100%;
  }
  .table-map-location-name {
    display: inline-block;
  }
}
