.map-photo {
  width: 100px;
  height: 100px;
  padding-top: 10px;
  img {
    width: 100%;
  }
}

.front-map-description {
  font-family: $sans-light;
  font-size: .9em;
}
.map-links {
  font-family: $sans-serif;
  display: inline-block;
  margin-right: 3px;
  padding: 3px;
  text-align: center;
  color: $contrast-dark;
  font-size: .75em;
  &:last-child {
    margin-right: 0;
  }
  a {
    &:hover {
      color: $callout-grey;
    }
  }
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  .table-container {
    float: left;
    width: 38%;
    overflow: auto;
    height: 500px;
  }
  .map-layout {
    float: left;
    width: 62%;
    height: 100%;
  }
  .address {
    font-size: .75em;
    a {
      text-decoration: none;
      color: $blackish;
    }
  }
  .table-map-location-name {
    display: inline-block;
    font-size: 1.25em;
    line-height: 1.75em;
  }
}

.artist-comment-link {
  &:hover {
    color: $callout-grey;
  }
}

.fix-map {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1005;
}
