.pin {
  width:35px;
  height:35px;
  border-radius:50% 50% 50% 0;
  background:$pink;
  position:absolute;
  transform:rotate(-45deg);
  left:50%;
  top:50%;
  margin:-20px 0 0 -20px;
  animation-name:bounce;
  animation-fill-mode: both;
  animation-duration:1s;
  &:after {
    content:'';
    width:19px;
    height:19px;
    margin:8px 0 0 8px;
    background:$whitish;
    position:absolute;
    border-radius:50%;
  }
  &:hover {
    cursor: pointer;
  }

}

.pin-rainbow {
  background: $pink;
  background: -moz-linear-gradient(top, rgba(255, 0, 0, 1) 0%, rgba(255, 255, 0, 1) 15%, rgba(0, 255, 0, 1) 30%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 255, 1) 65%, rgba(255, 0, 255, 1) 80%, rgba(255, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(15%, rgba(255, 255, 0, 1)), color-stop(30%, rgba(0, 255, 0, 1)), color-stop(50%, rgba(0, 255, 255, 1)), color-stop(65%, rgba(0, 0, 255, 1)), color-stop(80%, rgba(255, 0, 255, 1)), color-stop(100%, rgba(255, 0, 0, 1)));
  width:35px;
  height:35px;
  border-radius:50% 50% 50% 0;
  position:absolute;
  transform:rotate(-45deg);
  left:50%;
  top:50%;
  margin:-20px 0 0 -20px;
  animation-name:bounce;
  animation-fill-mode: both;
  animation-duration:1s;
  &:after {
    content:'';
    width:19px;
    height:19px;
    margin:8px 0 0 8px;
    background:$whitish;
    position:absolute;
    border-radius:50%;
  }
  &:hover {
    cursor: pointer;
  }
}

.pulse {
  background:rgba(0,0,0,0.2);
  border-radius:50%;
  height:19px;
  width :19px;
  position:absolute;
  left:50%;
  top:50%;
  margin:11px 0px 0px -12px;
  transform:rotateX(55deg);
  z-index:-2;
  &:after {
    content:" ";
    border-radius:50%;
    height:45px;
    width:45px;
    position:absolute;
    margin:-13px 0 0 -13px;
    animation:pulsate 1s ease-out;
    animation-iteration-count:infinite;
    opacity:0.0;
    box-shadow:0 0 1px 2px #89849b;
    animation-delay:1.1s;
  }
}

.map-icon {
  z-index: 1;
  position: absolute;
  transform: rotate(55deg);
  left: 35%;
  top: 35%;
}

.location-popover {
  width: 276px;
  font-family: $open-sans;
  position: absolute;
  top: 40px;
  left: -130px;
  .title {
    font-weight: 800;
    display: inline-block;
    background-color: #fff !important;
    border: none !important;
  }
  button.close {
    padding: 5px !important;
  }
  .photo {
    width: 246px;
    img {
      width: 100%;
    }
  }
  .pin-artist-comment {
    .pin-artist {
      font-family: $sans-serif;
      display: block;
      margin: 0 0 5px;
    }
    padding: 5px;
    margin: 5px;
  }
}
.popover-links {
  a {
      color: $link-grey;
      border-right: $link-grey solid 1px;
      &:hover {
        color: $callout-grey;
      }
    }
}

.popover-social-icons {
  a {
      display: inline-block;
      color: $link-grey;
      border-right: $link-grey solid 1px;
      padding: 0 5px;
      &:hover {
        color: $callout-grey;
      }
      &:last-child {
        border-right: transparent solid 1px;
      }
    }
}
@keyframes pulsate {
  0% {
    transform:scale(0.1, 0.1);
    opacity:0.0;
  }
  50% {
   opacity:1.0;
  }
  100% {
    transform:scale(1.2, 1.2);
    opacity:0;
  }
}

@keyframes bounce {
  0% {
    opacity:0;
    transform:translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity:1;
    transform:translateY(30px) rotate(-45deg);
  }
  80% {
    transform:translateY(-10px) rotate(-45deg);
  }
  100% {
    transform:translateY(0) rotate(-45deg);
  }
}
