.page-copy {
  padding: 0 60px;
}

.print-gallery {
  margin: 0 0 15px 0 !important;
}

.print-preview-image {
  img {
    display: block;
    margin: 0 auto;
  }
}
.buy, .download {
  margin-right: 10px;
}

.btn-collide {
  color: $link-grey;
  background-color: $blackish;
  border-color: $black;
  &:hover {
    color: $white;
  }
}

.print-issue {
  padding-top: 15px;
  @media (max-width: 768px) {
    border-bottom: $blackish solid 1px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    &:last-child {
      border-bottom: transparent solid 1px;
      margin-bottom: 0;
    }
  }
}

.print-control {
  @media(max-width: 768px) {
    margin: 0 20px;
  }
  h2 {
    // text-align: center;
  }
  .purchase-download {
    // text-align: center;
  }
}

.print-row {
  margin-bottom: 25px;
}
