.trending-container {
  @media(max-width: 510px) {
    width: 290px;
    // height: 381px;
  }
  @media(min-width: 511px) {
    width: 350px;
    // height: 445px;
  }
  margin: 0 auto;
}
.trending-image {
  @media(max-width: 510px) {
    width: 290px;
    // height: 165px;
  }
  @media(min-width: 511px) {
    width: 345px;
    // height: 190px;
    }
  object-fit: contain;
  img {
    height: 190px;
    margin: 0 auto;
  }
}

.trending-article {
  @media(max-width: 510px) {
    width: 290px;
  }
  @media(min-width: 511px) {
    width: 345px;
  }
  font-family: $open-sans;
  color: $whitish;
  padding: 10px;
  .trending-header {
    @media(max-width: 510px) {
      font-size: 1em;
    }
    @media(min-width: 511px) {
      font-size: 1.5em;
    }
    font-size: 1.5em;
    text-align: center;
  }
  .trending-body {
    padding: 5px;
    text-align: center;
  }
}
