.trending-container {
  @media(max-width: 510px) {
    width: 290px;
    // height: 381px;
  }
  @media(min-width: 511px) {
    width: 350px;
    // height: 445px;
  }
  margin: 0 auto;
}
.trending-image {
  width: 100%;
  @media(min-width: 768px) {
    padding: 0 0 0 60px;
    margin: 0;
  }
  margin: 10px 30px;
  img {
    object-fit: cover;
  }
}

.trending-header {
  padding: 0 20px;
}

.trending-body {
  padding-right: 60px;
  @media(max-width: 768px) {
    padding: 10px 60px;
  }
  img {
    width: 90%;
    margin: 10px auto;
  }
}
.trending-article {
  @media(max-width: 510px) {
    width: 290px;
  }
  @media(min-width: 511px) {
    width: 345px;
  }
  font-family: $open-sans;
  color: $whitish;
  padding: 10px;
  .trending-header {
    @media(max-width: 510px) {
      font-size: 1em;
    }
    @media(min-width: 511px) {
      font-size: 1.5em;
    }
    font-size: 1.5em;
    text-align: center;
    h2{
      text-align: center;
    }
  }
  .trending-body {
    padding: 5px;
    text-align: center;
  }
}

.main-trending-header {
  margin: 20px 0;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: .5em;
  text-align: center;
}

.trending-row {
  padding: 10px;
  margin-bottom: 35px;
  .trending-header {
    h1 {
      // text-align: center;
      margin-bottom: 1em;
    }
  }
}

.breakout-row {
  .breakout-box {
    width: 275px;
    padding: 25px;
    margin: 5px auto;
    text-align: center;
    border: $blackish 1px solid;
  }
  a {
    &:hover {
      color: $link-hover-grey;
    }
  }
}
