$white: #FFF;
$black: #000;
$main-background: #127c85;
$dark-accent: #041f21;
$light-accent: #71b0b6;
$contrast-dark: #25346d;
$contrast-light: #84e4b5;
$whitish: #f8f8ff;
$blackish: #090a0a;
$table-grey: #ddd;
$callout-grey: #ccc;
$link-grey: #9d9d9d;
$link-hover-white: $white;
$link-hover-grey: #333;
$pink: #d93687;
$orange: #e85323;
